section.about
    .about__container
        .about__wrapper
            .about__picture
                .about-picture__img
                    img(src="./img/about/about-img.png", alt="")
            .about__content
                .about-content__text
                    h2.about-content-text__title.text-title
                        | About
                        span Furniture  
                    p.about-content-text__description.
                        People have been using natural objects, such as tree 
                        stumps, rocks and moss, as furniture since the 
                        beginning of human civilisation. 
                    
                button.about-content__btn Read more