section.cta
    .cta__container
        .cta__wrapper
            .cta__caption
                h2.cta__title.text-title
                    span Let's
                    | Try Now
                button.cta__button Explore
            .cta__picture
                img(src="./img/cta/cta-img.png", alt="Image").cta__img