:root {
    --black: #282A30;
    --black-50: #282a3050;
    --accent-color: #F7515C;
    --light: #FFF;

    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Nunito Sans', sans-serif;
    --accent-font: 'Ubuntu', sans-serif;
    --text-font: 'Nunito', sans-serif;
    --btn-font: 'Poppins', sans-serif;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Ubuntu', sans-serif;