.home {
    &__container {
        padding-top: 107px;
        @media(max-width: 700px) {
            padding: 107px 20px 0 20px;      
        }
    }
    &__wrapper {
        background-image: url('./../img/home/left-bg-img.png');
        background-position: 0 0;
        // background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        column-gap: 87px;
        @media(max-width: 1100px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            row-gap: 120px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 650px;
        row-gap: 47px;
        padding-top: 107px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 35px;
            height: 264px;
            background: var(--accent-color);
            top: 0%;
            left: -15%;
            @media(max-width: 1100px) {
                top: 25%;
            }
            @media(max-width: 700px) {
                top: -20%;
                left: 48%;
                transform: rotate(90deg);
            }
            @media(max-width: 550px) {
                left: 46%;
            }
            @media(max-width: 300px) {
                top: -8%;
                left: 44%;
                width: 30px;
                height: 200px;  
            }
        }
        .home-content__text {
            display: flex;
            flex-direction: column;
            row-gap: 60px;
            .text-category {
                font-size: 20px;
                line-height: 0;
            }
            .text-title {
                font-size: 55px;
                @media(max-width: 550px) {
                    font-size: 40px;
                    max-width: 400px;
                }
                @media(max-width: 360px) {
                    font-size: 32px;
                }
                @media(max-width: 300px) {
                    font-size: 24px;    
                }
            }
        }
        .home-content__btns {
            display: flex;
            column-gap: 67px;
            align-items: center;
            @media(max-width: 1100px) {
                margin: 0 auto;
            }
            @media(max-width: 550px) {
                flex-direction: column;
                row-gap: 40px;
                align-items: center;
                justify-content: center;
            }
            .home-btn__discover {
                background: var(--accent-color);
                padding: 26px 50px;
                font-size: 22px;
                font-weight: 600;
                font-family: var(--main-font);
                color: var(--light);
                transition: .3s linear;
                &:hover {
                    background: #000;
                }
                @media(max-width: 300px) {
                    font-size: 16px;    
                }
            }
            .home-btn__play {
                display: flex;
                align-items: center;
                column-gap: 24px;
                .home-btn-play__block {
                    background: #FFF;
                    height: 58px;
                    width: 58px;
                    border-radius: 50%;
                    filter: drop-shadow(0px 4px 70px var(--black-50));
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .home-btn-play__text {
                    font-size: 22px;
                    line-height: normal;
                    @media(max-width: 300px) {
                        font-size: 16px;    
                    }
                }
            }
        }
    }
    &__picture {
        background: url('./../img/home/home-img.png');
        width: 465px;
        height: 698px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        @media(max-width: 700px) {
            left: 4%;
        }
        @media(max-width: 500px) {
            width: 370px;
            height: 500px; 
            left: 4%;      
        }
        @media(max-width: 400px) {
            width: 280px;
            height: 400px;
        }
        @media(max-width: 300px) {
            width: 200px;
            left: 0;
        }
        &::after {
            content: '';
            position: absolute;
            background-image: url('./../img/home/right-bg-img.png');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 318px;
            height: 202px;
            right: -20%;
            top: 5%;
            z-index: -1;
            @media(max-width: 700px) {
                top: -10%;
                left: 14%;
            }
            @media(max-width: 500px) {
                left: 2%;
            }
            @media(max-width: 400px) {
                width: 200px;
                height: 200px;
                left: 15%;
            }
            @media(max-width: 300px) {
                left: 0;
            }
        }
    }
}