doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Furniture
        link(rel="stylesheet", href="css/main.css")
        //Fonts
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        script(defer, src="./js/index.bundle.js")
    body
    article
        include blocks/header
        main
            include blocks/home
            include blocks/about
            include blocks/benefits
            include blocks/product
            include blocks/cta
        include blocks/footer